html {
	position: absolute;
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../images/stripe.png);
	font-family: "Questrial";
	font-size: 0.75em;
	line-height:1.2em;
}
body:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -moz-linear-gradient(top, rgba(170,164,156,0.9) 0%, rgba(204,199,192,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,164,156,0.9)), color-stop(100%,rgba(204,199,192,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(170,164,156,0.9) 0%,rgba(204,199,192,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(170,164,156,0.9) 0%,rgba(204,199,192,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(170,164,156,0.9) 0%,rgba(204,199,192,0.9) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(170,164,156,0.9) 0%,rgba(204,199,192,0.9) 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#e6aaa49c', endColorstr='#e6ccc7c0',GradientType=0 ); /* IE6-9 */

}

/*ORGANIZATION OF main.css*/

/* I. GLOBAL FORMATTING 
 * 
 * 1. Containers
 * 2. Static Elements (ribbons, logo)
 * 3. Header and Footer Elements (navigation bar, logout button, site map)
 * 4. Generic Panel Area Elements (panel backgrounds, navigation arrows, picture formatting)
 * 4.1 Trifold Pages
 * 5. Buttons and inputs (add, delete, close, edit, etc.)
 * 6. Miscellaneous Formatting (headings, default link formatting, list formatting)
 * 
 * II. PAGE-SPECIFIC FORMATTING
 * 
 * 7. Splash Page
 * 8. User Home
 * 9. User Profile
 * 10. View Inspiration
 * 11. Add Inspiration
 * 12. View Wardrobe
 * 13. Add to Wardrobe
 * 14. Shopping List
 * 15. Shopping Recommendations
 * 16. Outfit Lab
 * 17. About Us
 * 18. Contact
 */


/* 1. CONTAINERS */
#staticelements {
    position:absolute;
    width:100%;
    height:100%;
	z-index: 1;
}

#headerelements {
    z-index: 2;
    width:844px; /*Tied to width of .narrow panel.*/
    height:57px; /*Height of #topstripe + height of #logo*/
    margin-right:auto;
    margin-left:auto;
    color: #FFFFFF;
    /*border:1px solid #ffffff;*/
}

#navbarelements {
    z-index:2;
    width:100%;
    height:28px; /*Equal to height of #navstripe.*/
    margin-right:auto;
    margin-left:auto;
    color: #FFFFFF;
    /*border:1px solid #FFFFFF;*/
}

#panelelements {
/*Note: contents of this container are not centered. Fix in future edits.*/
    z-index: 1;
    height:520px; /*Arbitrarily determined height of viewing area.*/
    width:950px;/*Keep same as width of subpanelpanel elements*/
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    /*border:1px solid #ffffff;*/
}
#subpanelelements{
    z-index: 1;
    width:950px; /*Keep same as width of panel elements*/
    height:35px; /*Arbitrarily determined height of viewing area nav elements.*/
    margin-right:auto;
    margin-left:auto;
    /*border:1px solid #FFFFFF;*/
}


#footerelements {
    z-index: 1;
    height:30px; /*Arbitrarily determined height of footer info*/
    width:980px;
    margin-top:10px; /*Arbitrary. Needed to force footer text below #bottomstripe because #subpanelelements ends above the stripe. */
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    color: #FFFFFF;
    /*border:1px solid #ffffff;*/
    
}

/*2. STATIC ELEMENTS*/

.ribbon {
    width: 100%;
    background-color: #373534;
    /*Parameters for drop shadow are: h offset, v offset, blur, spread, color.*/
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
}

#topstripe {
	height: 10px; /*Arbitrary*/
}
#navstripe {
	height: 28px; /*Arbitrary. Tall enough for navigation text.*/ 
}

#bottomstripe {
    position: absolute;
    height: 3px; /*Arbitrary*/
    top:640px; /*Equals sum of heights of #headerelements, #navbarelements, #panelelements, #subpanelelements*/
    box-shadow:none;
}

#logo {
	text-align: center;
	font-family: "Tenor Sans";
    font-size: 2.8em; /*Can be changed without upsetting layout.*/
	color: #FFFFFF;
    margin-top: .6em; /*Top/bottom margins space logo between #topstripe and #navstripe.*/
	margin-bottom: .3em;
}
#logo > span {
	display: inline-block;
    width: 0.25em; /*Used to manually adjust kerning of logo text.*/
}


/* 3. HEADER AND FOOTER ELEMENTS */

#hello {
    position:absolute;
    right:0;
    bottom:3px; 
}

#navbartext {
    text-align:center;
    top:9px; /*Arbitrary. Controls nav bar text spacing inside #navstripe*/
}

#navbartext > span {
    display: inline-block;
    width:5em; /*Arbitrary. Used to increase space between navbar links.*/
}

/*This link formatting applies to nav bar, sign out, and footer elements.*/
a.navlink:hover{
   color: #b5c000;
}

a.navlink:active{
    color: #b5c000;
}


/*4. GENERIC PANEL AREA ELEMENTS*/

/*Regarding the height of .panel and width of .narrow: wardrobe view contains a 
 * grid of square images whose height is set by #articlephoto. To ensure even
 * spacing on all sides, .panel height and .narrow width must obey the following:
 * height of .panel -2(.panel padding) = 6(margin+border) + 3(height) of #articlephoto
 * width of .narrow -2(.panel padding) = 10(margin+border) + 5(height) of #articlephoto
 */    


.panel {
    top:10px; /*Creates gap between #navstripe and viewing panel. Cannot exceed height #panelelements - height .panel*/
    height:510px; /*Cannot be changed without changing height or margins of #articlephoto */  
    border: 1px solid #FFFFFF;
    padding:5px; /*Same as padding on .subpanel.*/
    background-color: rgba(255,255,255,0.4);
    text-align:center;
    display:inline-block;
    float:left;
    /*overflow:hidden;*/
}

.subpanel {
    height:100%;
    width:100%;
    padding:5px; /*Same as padding on .panel*/
    text-align:right;
    display:block;
    margin-left:auto;
    margin-right:auto;
    /*border:1px solid #FFFFFF;*/
}

.narrow {
    width:844px; /*Selected to work with picture width and margins. Same as width of #headerelements.*/
}

.wide {
    width:100%; /*In practice, as wide as the #panelelements container.*/
}

#subpanelLeft{
    height:100%;
    width:75%;
    text-align:left;
    display:block;
    float:left;
    /*border:1px solid #FFFFFF;*/
}

#subpanelRight{
    height:100%;
    width:25%;
    text-align:right;
    display:block;
    float:left;
    /*border:1px solid #FFFFFF;*/
}

#subpanelFull{
    height:100%;
    width:100%;
    text-align:left;
    display:block;
    float:left;
}

.buttonspacer{
    display:inline-block;
    float:left;
    width: 50px; /*Width of .narrow panel + 2 times width .buttonspacer = width #panelelements*/
    
    /*Formatting used to force vertical centering of buttons.*/
    height: 50%; 
    top:50%;
    margin-top:-25px; 
   
    color: #FFFFFF;
    text-align:center;
    /*border:1px solid #FFFFFF;*/
}

.arrow {
    width:0;
    height: 0;
    border-top:25px solid transparent;
    border-bottom:25px solid transparent;
    display:inline-block;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}

#rightarrow { 
    border-left:25px solid #FFFFFF;
}

#rightarrow:hover {
    border-left:25px solid #3b3938;
}

#leftarrow { 
    border-right:25px solid #FFFFFF;
}

#leftarrow:hover {
    border-right:25px solid #3b3938;
}

/*PHOTOGRAPH FORMATTING*/

.outfitphoto {
    /*.outfitphoto height and margins engineered to produce even spacing
     of three rows of pictures inside the .panel. If changing, honor: 
     6(margin+border) + 3(height) = height of .panel - 2(.panel padding) */    
    margin:2px; 
    border: 1px solid #FFFFFF;
    height:160px; 
    display:inline-block;
}

.articlephoto {
    /*.articlephoto height and margins engineered to produce even spacing
     of three rows of pictures inside the .panel. If changing, honor: 
     6(margin+border) + 3(height) = height of .panel - 2(.panel padding).  
     Because images are square, the following also holds true:
     10(margin+border) + 5(height) = width of .narrow -2(.panel padding) */    
    margin:2px;
    border: 1px solid #FFFFFF;
    height:160px;
    display:inline-block;
}

.outfitRecLarge{
    margin:1px; /*Arbitrary*/
    border: 1px solid #FFFFFF;
    height:99%; /*Allows some space for margins*/
    display:inline-block;
}

.outfitRecSmall{
    margin:1px;
    border:1px solid #ffffff;
    height:48%; /*Allows for two rows of pictures*/
    display:inline-block;
}

/*4.1 TRIFOLD PANELS*/

#clearPanel{
    padding:0px;
    border:none;
}

.trifoldColumn{
    width:33.3%;
    height:100%;
    display:block;
    float:left;
    border:1px solid white;
}

/*.trifoldColumn:hover{
    -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}*/

.trifoldColumn:hover .trifoldtop{
    background-color: #b5c000;
}

/*.trifoldColumn:hover .trifoldbottom{
    background-color: rgba(255,255,255,0.3);
}*/


.trifoldtop{
    height:8%;
    width:100%;
    display:block;
    float:left;
    background-color: #99980b;
    border-bottom:1px solid #FFFFFF;
    
    text-align:left;
    text-transform:uppercase;
    color:#FFFFFF;
    padding-top:20px;
    padding-left:30px;
    
    
}

.trifoldbottom{
    height:92%;
    width:100%;
    display:block;
    float:left;
    text-align:left;
    padding:30px;
}

.norlborders{
    border-left:none;
    border-right:none;
}

/*Trifold header formatting formatting*/

#lightestheader{
    background-color: #b5c000;
}

#midtoneheader{
    background-color: #99980b;
}

#darkestheader{
    background-color: #847e1f;   
}

/*Trifold content formatting*/

.primaryfocus{
    background-color: rgba(250,250,250,0.3);
}

.secondaryfocus{
    background-color: rgba(200,200,200,0.3);
}

.tertiaryfocus{
    background-color: rgba(150,150,150,0.3);
}


/*5. BUTTONS AND INPUTS*/

.button {
    background-color: #bab6af;
    color: white;
    border: 1px solid #FFFFFF;
    
    display: inline-block;
    text-align: center;
    float:left;
    
    -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.button:hover{
    background-color: #e1e1e1;
    color: #FFFFFF;    
}

#rectaddbutton{
    height: 160px; /*Must match height of #articlephoto.*/
    width: 100px; /*Arbitrary*/
    font-size:20px;
    padding-top:40px;
    
    top:0;
    margin-top:2px; /*top, bottom and left margins = margin of #articlephoto.*/
    margin-bottom:2px;
    margin-left:2px;
    margin-right:3px;
}

#rectaddbutton > span{
    font-size:100px;
}

#squareaddbutton{
    height:160px; /*Must match height of #articlephoto.*/
    width:160px; /*Equal to height to match square aspect of #articlephoto*/
    font-size:20px;
    padding-top:40px;
   
    top:0;
    margin-top:2px; /*top, bottom and left margins = margin of #articlephoto.*/
    margin-bottom:2px;
    margin-left:2px;
    margin-right:3px;  
}

#squareaddbutton > span{
    font-size:100px;
}

.textButton {
    background-color: #e6e6e4;
    color: #000000;
    border: 1px solid #FFFFFF;
    height:20px; /*Arbitrary*/
    line-height:20px; /*Equal to height to vertically center text.*/
    width:75px; /*Arbitrary*/
    
    text-align:center;
    display:block;
}

.textButton:hover {
    
}


a.textButton:link{
    color: #000000;
}

a.textButton:visited {
    color: #000000;
}

a.textButton:hover {
    background-color: #3b3938;
    color: #FFFFFF;
}


/*Input type text affects search selectors in the subpanel and the forms for entering article information.*/

input[type="text"] {
    border:1px solid #FFFFFF;
    background-color: #d6d6d4;
    width:175px;
    height:20px;
    margin-left:5px;
    margin-bottom:5px;
}

input[type="text"]:focus {
    background-color: #e1e1e1;
}

textarea{
    display:inline-block;
    border:1px solid #ffffff;
    background-color: #d6d6d4;
    width: 240px; /*Arbitrary*/
    height: 95px; /*Arbitrary*/
    margin-bottom:8px; /*Arbitrary*/
    vertical-align:top;
    font-family: "Questrial";
    font-size:1em;
}

textarea:focus {
    background-color: #e3e2de;
}

/* 6. MISCELLANOUS FORMATTING */

h1{
    margin-top: 20px;
    margin-bottom:20px;
    text-transform:uppercase;
    font-size: 1.1em; 
}   

a:link {
    color:#FFFFFF;
    text-decoration:none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}     

a:visited {
    color:#FFFFFF;
    text-decoration:none;
} 

a:hover {
    color:#000000;
    text-decoration:none;
} 

a:active {
    color:#000000;
    text-decoration:none;
}

ul{
    line-height:2em;
    text-align:center;
}

li:hover{
    height:2em; 
    width:80%; /*Arbitrary, but width + left and right margins should = 100*/
    margin-left:10%;
    margin-right:10%;
    background-color: rgba(250,250,250,0.3); 
    border:1px solid #FFFFFF; /*Ultimately, border will only appear on selected items*/
}

.noPadding{
    padding:0px;
}

.floatLeft{
    float:left;
    margin-right:5px;
}

.floatRight{
    margin-left:5px;
    float:right;
}

/*7. SPLASH PAGE ELEMENTS*/ 
#signup{
    position:absolute;
    width: 60px; /*Arbitrary*/
    height: 50px; /*Arbitrary*/
    right: 0px;
    top: 0px;
    background-color: #b5c000;
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
}

#signuptext{
    position:absolute;
    bottom: 4px;
    text-align:center;
}

.splashcolumn{
    /*4 x .splashcolumn width + 8 x margin = width of #panelelements*/
    width:195px; 
    height:100%;
    float:left;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    text-align:left;
    /*border:1px solid #ffffff;*/
}

.splashad {
    border:1px solid #ffffff;
    width:100%; /*Same as width of splashcolumn*/
}

/*8. USER HOME*/

/*9. USER PROFILE*/

/*10. VIEW INSPIRATION*/

/*11. ADD INSPIRATION*/

/*LAYOUT*/
.addinspsections{
    position:absolute;
    display:block;
}

.addinspsections:hover{
    background-color: rgba(250,250,250,0.3);
    
    -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.addinspsections:hover .addinspinstructions{
    background-color: #b5c000;
}

#topleftwindow{
    width:50%;
    height:70%;
    position:absolute;
    display:block;
    top:0px;
    left:0px;
    border-right:1px solid #FFFFFF;
    /*border:1px solid #FFFFFF;*/
}

#toprightwindow{
    width:50%;
    height:70%;
    position:absolute;
    display:block;
    text-align:right;
    top:0px;
    right:0px;
    /*border:1px solid #FFFFFF;*/
}

#bottomthird{
    height:30%;
    width:100%; /*bottom third is as wide as #panelelements*/  
    position:absolute;
    left:0px;
    bottom:0px;
    border-top: 1px solid #FFFFFF;
}

#sec2textareas{
    height:100%;
    width:100%;
    padding-top:25px; /*Should match top padding on #outfitplaceholder*/  
    padding-right:65px; /*Should match padding-top*/
}

#sec3infocontainer{
    height:100%;
    width:80px;
    display:block;
    float:left;
    /*border:1px solid white;*/
}


/*FORMATTING OF INSTRUCTIONS*/

.addinspnumber{ /*large numbers for instructions. consistent across sections.*/
    font-size:7em; /*If changing, change font-size of section text to maintain vertical justification.*/
    color: #FFFFFF;   
    display:block;
    float:left;
    margin-left:-2px; /*Arbitrary*/
}

.addinsptextrotated{ /*generic instruction text formatting. size set separately.*/
    color:#FFFFFF;
    margin-right:-100px; /*Because vertical text still takes up horizontal text width*/
    display:block;
    float:left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.addinspinstructions{ /*generic container for instructions*/
    display:block;
    float:left;
    height:7em; /*Matches height of .addinspnumber*/
    line-height:7em; /*Matches height of .addinspnumber*/
    background-color: #3b3938;
    border:1px solid #FFFFFF;
    border-left:none;
    border-top:none;
}

#sec1instructions {
    width:75px; /*Arbitrary*/
    padding-left:5px; /*Because 1 is skinnier than other numbers.*/
}

#sec1text{
    font-size:1.5em; /*Chosen to make word as long as number is tall.*/
    margin-left:-30px; /*Pulls vertical text toward number.*/
}

#sec2instructions{
    width:80px; /*Maximum width.*/
    padding-left:10px; /*Arbitrary*/
}

#sec2text{
    font-size:1.75em; /*Chosen to make word as long as number is tall.*/
    margin-left:-20px; /*Pulls vertical word toward number.*/
    
}

#sec3instructions{
    width:80px; /*Maximum width. Must fit inside #sec3infocontainer.*/
    padding-left:10px;
    margin-top:30px; /*Arbitrary. Approximates vertical centering.*/
}

#sec3text{
    font-size:1.75em; /*Chosen to make word as long as number is tall.*/
    margin-left:-20px; /*Pulls vertical text towards number.*/
    
}

/*CONTENT*/

#outfitplaceholder {
    width:320px; /*Arbitrary*/
    height: 300px; /*Arbitrary*/
    line-height:300px; /*Forces vertical centering of text.*/
    background-color: #d6d6d4;
    color:#FFFFFF;
    margin-top: 25px; /*Arbitrary*/
    margin-left:100px; /*Equals margin-top plus width of #sec1instructions*/ 
    
    border: 1px solid #FFFFFF;
    display:block;
    text-align:center;
    
    /*
    -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);*/
}

#articlesdefined{
    width:764px; /*equals width of #panelelements minus (width #sec3infocontainer + 2 x width of .buttonspacer)*/
    height:100%;
    display:block;
    float:left;
    /*border:1px solid #FFFFFF;*/
}

.articledef{
    /*All measurements arbitrary.*/
    height: 100%;
    width: 33.3%;  
    padding-top:25px;
    padding-right:10px; 
    text-align:right;  
      
    display:block;
    float:left;
}



/*12. VIEW WARDROBE*/

/*13. ADD TO WARDROBE*/

/*CONTAINERS*/

.wSides{
    height:100%;
    width:50px;
    display:block;
    float:left;
}

.wCenter{
    width:838px; /*Width of #panelelements - twice width .buttonspacer - 2px for borders. */
    height:100%;
    display:block;
    float:left;
}

.wTop {
    height:10%; /*Arbitrary*/  
    width:100%;
    display:block;
    float:left;
    
    text-align:left;
    padding-left:12px; /*Same as padding on .columnThirds*/
    line-height:2em; 
    color: #FFFFFF;
    font-size:2em;
    /*border:1px solid #FFFFFF;*/
}

.wMiddle {
    height:74%; /*Arbitrary */
    width:100%;
    text-align:right;
    display:block; /*Equals width of #panelelements minus 2 times .buttonspacer*/
    float:left;
    /*border:1px solid #FFFFFF;*/
}

.wBottom{
    height:16%; /*Arbitrary*/
    width:100%;
    display:block;
    float:left;
    text-align:right;
    padding-top:20px;
    padding-right:12px;
    /*border:1px solid #FFFFFF;*/
}

.buttonAdjustment{ /*So buttons are approx. vertically centered with .articlePlaceholders*/
    width:100%;
    height:255px; /*Should match height of .articlePlaceholder*/
    padding-top:12px; /*Matches top padding on .columnThirds*/
    display:block;
    float:left;
}

.columnThirds {
    height: 100%;
    width: 33.3%;
    padding:12px; /*Arbitrary*/
    display:block;
    float:left;
    text-align:right;
    border-right:1px solid #FFFFFF;
}

.columnThirds:last-of-type {
    border-right:none;
}

/*CONTENT*/

.articlePlaceholder{
    height:255px; /*Maximum size within .columnThirds*/
    width:255px; /*Keep square*/
    background-color: #d6d6d4;
    color:#FFFFFF;
    border:1px solid #FFFFFF;
    display:block;
    text-align:center;
    line-height:255px;
    margin-bottom:12px; /*Equal to padding on .columnThirds*/
   
    -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
   
}

.articlePlaceholder:hover{
    background-color: #e3e2de;
}

/*14. SHOPPING LIST*/

/*LAYOUT*/
.lHorizontalTrifold{
    height:33.3%;
    line-height:156px; /*To effect approximate vertical centering.*/
    width:80%; /*Arbitrary, but width + right and left margins should = 100*/
    margin-left:10%;
    margin-right:10%;
    text-align:center;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.lHorizontalTrifold:last-of-type {
    border-bottom:none;
}

/*FORMATTING*/

#itemName{
    text-transform:uppercase;
}



/*ITEM SPOTLIGHT - SHARED WITH SHOPPING RECOMMENDATIONS*/
.spotlightInfo{
    height:12%;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    
    text-align:left;
    padding-top:30px;
    display:block;
    float:left;
}

.spotlightExamples{
    height:76%;
    width:90%;
    margin-left:5%;
    margin-right:5%;
 
    text-align:left;   
    padding-top:30px;
    display:block;
    float:left;
}

.exampleOutfits{
    height:230px;
    width:100%;
    margin-top:10px;
    padding:5px;
    display:block;
    float:left;
    
    background-color: rgba(150,150,150,0.3);
}

.exampleOutfitNav{
    height:20px;
    width:100%;
    margin-top:10px;
    display:block;
    float:left;
}




/*15. SHOPPING RECOMMENDATIONS*/

/*16. OUTFIT LAB*/

/*LAYOUT*/

#oTop{
    height:80%; 
    width:100%;
    display:block;
    float:left;
    /*padding-bottom:20%;/*Same as height of #oBottom. Necessary because #oBottom is positioned absolutely.*/
    
}

#oBottom{
    height:20%; /*Tied to height of #oTop*/
    line-height:100px; /*same as height to create appearance of vertical centering*/ 
    width:100%; /*as wide as #panelelements*/  
    background-color: rgba(100,100,100,0.3);
    border-top: 1px solid #FFFFFF;
    
    position:absolute;
    left:0px;
    bottom:0px;
    
}

#oViewingScreen{
    height:100%;
    width: 838px; /*equals width of #panelelements minus it's padding (5 on all sides) minus 2 x width of .buttonspacer*/
    padding-top:1px; /*Arbitrary*/
    padding-bottom:1px; /*Arbitrary*/
    display:block;
    float:left;    
}

/*FORMATTING*/

.oText{
    font-size:1.8em;
    line-height:1.5em;
    color: #FFFFFF;
    text-align:center;
}

/*17.ABOUT US*/

/*CONTACT*/
