html {
	position: absolute;
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../images/stripe.png);
	font-family: "Questrial";
	font-size: 0.75em;
}
body:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -moz-linear-gradient(top, rgba(170,164,156,0.9) 0%, rgba(204,199,192,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,164,156,0.9)), color-stop(100%,rgba(204,199,192,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(170,164,156,0.9) 0%,rgba(204,199,192,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(170,164,156,0.9) 0%,rgba(204,199,192,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(170,164,156,0.9) 0%,rgba(204,199,192,0.9) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(170,164,156,0.9) 0%,rgba(204,199,192,0.9) 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#e6aaa49c', endColorstr='#e6ccc7c0',GradientType=0 ); /* IE6-9 */

}

/* HEADINGS */

h1{
    margin-top: 20px;
    margin-bottom:20px;
    text-transform:uppercase;
    font-size: 1.1em; 
}


/* CONTAINERS */
#staticelements {
    position:absolute;
    width:100%;
    height:100%;
	z-index: 1;
}

.headerelements {
    z-index: 2;
    width:980px;
    margin-right:auto;
    margin-left:auto;
}

#panelelements {
    z-index: 1;
    height:525px; 
    width:980px;
    margin-top:100px;
    margin-right:auto;
    margin-left:auto;
}

#footerelements {
    z-index: 1;
    height:25px;
    width:980px;
    margin-top:25px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    color: #FFFFFF;
    
}


/*STATIC ELEMENTS*/

.ribbon {
    width: 100%;
    background-color: #373534;
    /*Parameters for drop shadow are: h offset, v offset, blur, spread, color.*/
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

#topstripe {
	height: 10px;
}
#navstripe {
	height: 30px;
}

#bottomstripe {
    position: absolute;
    height: 3px;
    top:640px;
    box-shadow:none;
}

#logo {
	text-align: center;
	font-family: "Tenor Sans";
	font-size: 2.8em;
	color: #FFFFFF;
	top: .3em;
	margin-bottom: .4em;
}
#logo > span {
	display: inline-block;
	width: 0.2em;
}

/*SPLASH PAGE ELEMENTS*/

#signup{
    position:absolute;
    width: 60px;
    height: 50px;
    right: 0px;
    top: 0px;
    background-color: #b5c000;
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
}

#signuptext{
    position:absolute;
    bottom: 4px;
    text-align:center;
    color: #FFFFFF;
}

.splashcolumn{
    width:215px;
    height:525px;
    float:left;
    margin-top:20px;
    margin-right:40px;
    /*border:1px solid #ffffff;*/
}

.splashcolumn:last-child {
    margin-right:0px;
}

.splashad {
    border:1px solid #ffffff;
}


